<!DOCTYPE html>
<html>
<head>
  <title>Nomes da tabela "people"</title>
</head>
<body>
  <h1>Full Cycle Rocks!</h1>
  <ul>
    <% names.forEach((row) => { %>
      <li><%= row.name %></li>
    <% }); %>
  </ul>
</body>
</html>
